<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Form</title>
    <link rel="stylesheet" href="/assets/css/form.css" />
  </head>
  <body>
    <section class="container">
      <header>Registration Form</header>
      <form th:action="@{/saveMsg}" method="post" class="form" th:object="${registration}">
        <div class="input-box">
          <label >Full Name :</label>
          <div>
            <input type="text" th:field="*{firstName}"  placeholder="Enter First Name" required />
            <input type="text" th:field="*{middleName}" placeholder="Enter Middle Name" required />
            <input type="text" th:field="*{lastName}" placeholder="Enter Last Name" required />
          </div>
        </div>

        <div class="input-box">
          <label >Email :</label>
          <input type="email" th:field="*{email}" placeholder="Email No" required />
        </div>

        <div class="col">
          <div class="input-box">
            <label >Mobile No :</label>
            <input type="text" th:field="*{mobileNo}" placeholder="Mobile No" required />
          </div>

          <div class="input-box">
            <label >Date of Birth :</label>
            <input type="Date"  placeholder="Date of Birth " required />
          </div>
        </div>

        <div class="gender-box">
          <h3>Gender</h3>

          <div class="gender-Options">
            <div class="gender">
              <input type="radio" name="gender" id="check-Male" checked />
              <label for="check-Male">Male</label>
            </div>

            <div class="gender">
              <input type="radio" name="gender" id="check-Female" checked />
              <label for="check-Female">Female</label>
            </div>

            <div class="gender">
              <input type="radio" name="gender" id="check-Common" checked />
              <label for="check-Common">Prefer to not say</label>
            </div>
          </div>
        </div>
        <div class="input-box Address">
          <label >Address :</label>
          <input type="text" th:field="*{address}" placeholder="Address" required />
          <input type="text" placeholder="Address line 1" required />
          <input type="text" placeholder="Address line 2" required />
          <div class="col">
            <div class="select-box">
              <select name=""  id="">
                <option value="" hidden>Country</option>
                <option value="">India</option>
                <option value="">America</option>
                <option value="">London</option>
                <option value="">Japan</option>
              </select>
            </div>
            <input type="text" th:field="*{city}" placeholder="Enter city" required />
          </div>
          <div class="col">
            <input type="password" th:field="*{password}" placeholder="Password" required />
<!--            <input type="text" placeholder="Address line 2" required />-->
          </div>
        </div>
        <button>Register Now</button>

      </form>
    </section>
  </body>
</html>
